<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGAService2" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" maxReceivedMessageSize="2097152" />
        <binding name="BasicHttpBinding_IHeuristicService1" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" maxReceivedMessageSize="2097152" />
        <binding name="BasicHttpBinding_ISortMidService" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" maxReceivedMessageSize="2097152" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://task-allocations-lb-213395435.us-east-1.elb.amazonaws.com/GAWcfService/GAService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGAService2"
        contract="AWSGAServiceReference.IGAService" name="BasicHttpBinding_IGAService2" />
      <endpoint address="http://task-allocations-lb-213395435.us-east-1.elb.amazonaws.com/HeuristicService/HeuristicService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeuristicService1"
        contract="AWSHeuristicServiceReference.IHeuristicService" name="BasicHttpBinding_IHeuristicService1" />
      <endpoint address="http://task-allocations-lb-213395435.us-east-1.elb.amazonaws.com/SortMidService/SortMidService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISortMidService"
        contract="AWSSortMidServiceReference.ISortMidService" name="BasicHttpBinding_ISortMidService" />
    </client>
  </system.serviceModel>
</configuration>